fastapi
uvicorn[standard]
python-dotenv

langchain
langchain-community
langchain-core
langchain-chroma
langchain-huggingface

chromadb
sentence-transformers
transformers
torch

rank-bm25

groq

pydantic
numpy
pandas

python-multipart
requests